{{template "base" .}}

{{define "content"}}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center mb-4">Contact Us</h1>
                <div class="card border-0 shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title text-center">We'd love to hear from you!</h5>
                        <p class="text-center mb-4" style="font-size: 1.1em;">
                            For any inquiries or reservations, please use the contact information below to get in touch with us.
                        </p>
                    </div>
                </div>

                <div class="card border-0 shadow-lg mt-4">
                    <div class="card-body">
                        <h5 class="card-title text-center">Contact Information</h5>
                        <p class="text-center mb-0" style="font-size: 1.1em;">
                            <strong>Address:</strong> 123 Carpathian Lane, Brașov, Romania
                        </p>
                        <p class="text-center mb-0" style="font-size: 1.1em;">
                            <strong>Phone:</strong> +40 123 456 789
                        </p>
                        <p class="text-center" style="font-size: 1.1em;">
                            <strong>Email:</strong> info@transylvanianretreat.com
                        </p>
                    </div>
                </div>

                <div class="card border-0 shadow-lg mt-4">
                    <div class="card-body">
                        <h5 class="card-title text-center">Follow Us</h5>
                        <p class="text-center">
                            <a href="#" class="text-black mr-2"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="text-black mr-2"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="text-black mr-2"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="text-black"><i class="fab fa-tripadvisor"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}